.field-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: transparent;
  color: #e0e0e0;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.flabel {
  font-weight: 300;
  font-size: 1.2rem;
  white-space: nowrap;
}

.fvalue {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  text-align: right;
  flex: 1;
  margin-left: 1rem;
  overflow-wrap: break-word;
}

