.field-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: transparent;
  color: #e0e0e0;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.flabel {
  font-weight: 300;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.fvalue {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  text-align: right;
  flex: 1;
  margin-left: 1rem;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

@media (max-width: 1280px) {

  .field-value{
    padding: 0.5rem 0.9rem;
  }
  
  .flabel, .fvalue {
    font-size: 1rem;
  }
}

@media (max-width: 1024px){

  .flabel, .fvalue {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px){

  .field-value{ 
    padding: 0.4rem 0.5rem;
  }

  .flabel, .fvalue {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px){

  .flabel, .fvalue {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px){

  .flabel, .fvalue {
    font-size: 0.7rem;
  }
}

