*{
    font-family: 'Inter', sans-serif;
}
.footer_div{
    position: static;
    background-color: #0B0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text_part{
    width: 80%;
}

.footer_upper_text_part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.637);
}

.footer_below_text_part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.rights_text p{
    color: rgba(255, 255, 255, 0.637);
    font-size: 1.15rem;
    text-align: center;
    padding: 10px;
    font-weight: lighter;
    position: relative;
}

.footer_web_desktop{
    max-height: 48px;
    display: block;
}
.footer_web_mobile{
    max-height: 45px;
    display: none;
}
.column_div{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    padding: 40px 20px 20px 20px ;
    font-size: 15px ;
    gap:20px;
}
.footer_first_column{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.logotext{
    max-height: 48px;
    margin-bottom: 10px;
    padding:10px 0px;
}
.column_div p{
    color: rgba(255, 255, 255, 0.637);
    padding: 10px;
    font-weight: lighter;
    position: relative;
}

.column_div a{
    color: rgba(255, 255, 255, 0.637);
    padding: 10px;
    font-weight: lighter;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-bottom: 5px ;
}

.column_div a:hover{
    color: white;
}

.textcolumn{
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.footer_second_column, .footer_third_column{
 align-items: flex-start ;
    text-align: left ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0px 20px 150px ;
}

.column_div h2{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    padding: 10px;
    position: relative;
}

.gitlogo_dekstop img{
    margin: 10px 10px;
    cursor: pointer;
    max-height: 40px;
}
.gitlogo_mobile{
    display: none;
}
@media (max-width: 1140px) {
  .footer_upper_text_part {
    grid-template-columns: 1fr;
  }

  .footer_second_column, .textcolumn {
    align-items: center ;
    padding:20px 0px 0px 0px ;
  }
  .footer_third_column{
    align-items: center ;
    padding:20px 0 30px 0 ;
  }
 .footer_first_column{
    padding: 20px 0 0 0;
  }
  .footer_div{
    height: auto ;
  }
  .footer_web_desktop{
    display: none;
  }
  .footer_web_mobile{
    display: block;
  }
  .logotext{
    display:flex;
    padding: 0;
    gap:6px;
  }
  .gitlogo_dekstop{
    display: none;
  }
  .gitlogo_mobile{
    display: block;
    cursor: pointer;
    max-height: 40px;
  }
  .tagline_text{
    display: flex;
    align-items: center;
  }
  .footer_below_text_part p{
    font-size:12px;
  }
}