@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.Sidebar {
    background-color: #0E0E0E;
    height: auto;
    top: 1rem;
    width: 25%;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-top: 1rem;
    margin-left: 0.5%;
    border: 3px solid #28282889;
    overflow: visible;
}

.ProfileSection {
    text-align: center;
}

.Avatar {
    width: 80px;
    height: 80px;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 auto 1rem;
    margin-top: 2rem;
}

.Avatar img {
    width: 80px;
    height: 80px;
    padding-top: 0.14rem;
    border-radius: 50%;
}

.Sidebar h2 {
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
    font-family: 'Poppins', sans-serif;
}

.Email {
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: anywhere;
    font-size: 1rem;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
}

.Menu {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
    font-size: 1.3rem;
}

.Menu .Sidebar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #FFF;
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.Menu .Sidebar-item:hover {
    background-color: #383838;
}

.Menu .Sidebar-item.Active {
    background-color: #00c853;
    color: #000;
}

.Menu .Sidebar-item.Active img {
    display: none;
}

.go-to {
    height: 17px;
    width: 17px;
}

@media (max-width: 1280px) {
    .Sidebar {
        width: 25%;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
        margin-right: 1%;
    }

    .Avatar {
        width: 70px;
        height: 70px;
        margin-top: 1rem;
    }

    .Avatar img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .Sidebar h2 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .Email {
        font-size: 1rem;
    }

    .Menu {
        gap: 1rem;
        margin-top: 3rem;
    }
    
    .go-to {
        height: 13px;
        width: 13px;
    }

    .Menu .Sidebar-item{
        font-size: 1.1rem;
        border-radius: 7px;
        padding: 0.5rem 0.8rem;
    }
}

@media (max-width: 1024px) {
    .Sidebar {
        width: 25%;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
        margin-right: 1%;
    }

    .Avatar {
        width: 70px;
        height: 70px;
        margin-top: 1rem;
    }

    .Avatar img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .Sidebar h2 {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
    }

    .Email {
        font-size: 0.8rem;
    }

    .Menu {
        gap: 1rem;
        margin-top: 3rem;
    }
    
    .go-to {
        height: 13px;
        width: 13px;
    }

    .Menu .Sidebar-item{
        font-size: 1rem;
        border-radius: 7px;
        padding: 0.5rem 0.8rem;
    }
}

@media (max-width: 768px) {
    .Sidebar {
        width: 25%;
        padding: 1.2rem 0.6rem;
        margin-top: 1rem;
        margin-right: 1%;
        border: 2px solid #28282889;
    }

    .Avatar {
        width: 50px;
        height: 50px;
        margin-top: 0.5rem;
    }

    .Avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .Sidebar h2 {
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }

    .Email {
        font-size: 0.6rem;
    }

    .Menu {
        gap: 1rem;
        margin-top: 2.5rem;
    }

    .go-to {
        height: 10px;
        width: 10px;
    }

    .Menu .Sidebar-item{
        font-size: 0.75rem;
        border-radius: 6px;    
        padding: 0.3rem 0.8rem;
    }
}

@media (max-width: 600px) {
    .Sidebar {
        width: 25%;
        padding: 0.7rem 0.6rem;
        margin-top: 1rem;
        margin-right: 1%;
        border: 2px solid #28282889;
    }

    .Avatar {
        width: 40px;
        height: 40px;
        margin-top: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .Avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .Sidebar h2 {
        font-size: 0.85rem;
        margin-bottom: 0.3rem;
    }

    .Email {
        font-size: 0.55rem;
    }

    .Menu {
        gap: 0.75rem;
        margin-top: 2rem;
    }

    .go-to {
        display: none;
    }

    .Menu .Sidebar-item{
        font-size: 0.6rem;
        border-radius: 5px;
        padding: 0.3rem 0.5rem;
    }
}

@media (max-width: 400px) {
    .Sidebar {
        width: 25%;
        padding: 0.4rem 0.4rem;
        margin-top: 1rem;
        margin-right: 1%;
        border: 1.5px solid #28282889;
    }

    .Avatar {
        width: 25px;
        height: 25px;
        margin-top: 0.5rem;
    }

    .Avatar img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .Sidebar h2 {
        font-size: 0.55rem;
        margin-bottom: 0.3rem;
    }

    .Email {
        font-size: 0.4rem;
    }

    .Menu {
        gap: 0.45rem;
        margin-top: 1.5rem;
    }

    .Menu .Sidebar-item{
        font-size: 0.5rem;
        border-radius: 4px;
        padding: 0.3rem 0.5rem;
    }
}