.home{
    display: flex;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.996);
    color:white;
    /* position: fixed; */

}
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media (max-width: 450px){
    .home{
       position: fixed;
    }
}

