@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.spin {
    font-size: 1.5rem;
    color: black;
    animation: spin 1s linear infinite;
    position: relative;
}

.loading span {
    color: black;
    font-weight: 900;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_main_div {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    overflow: hidden;
}


.left_inner_div {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.back_img_div {
    min-width: 100%;
    height: 100%;
}

.left_inner_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100vh;
    z-index: 1;
}

.tagline-div {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: rgba(255, 255, 255, 0.912);
    font-size: 2.5rem;
    font-weight: 600;
    width: 80%;
    line-height: 1.2;
    z-index: 2;
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: italic;
}

.backToHome {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.backToHome:hover {
    box-shadow: 1px 1px 12px rgb(0, 0, 0);
}

.right_inner_div {
    min-width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-rows: 0.9fr 2.5fr;
}

.auth_form {
    background-color: black;
    color: white;
    padding: 2rem;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.auth_form form {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_inner_div .logo img {
    height: 120px;
}

.auth_form .title-text {
    margin-bottom: 1.5rem;
}

.title-text h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.title-text p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.auth_form form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #00C853;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.05rem;
    padding-left: 15px;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.auth_form form input::placeholder {
    color: rgba(255, 255, 255, 0.759);
}

.auth_form form label {
    color: #00C853;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    display: block;
    margin-left: 2px;
}

.auth_form button {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #00C853;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-top: 1.2rem;
    font-weight: 550;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 200, 83, 0.2);
}

.title-error {
    min-height: 1.5rem;
    text-align: center;
    color: red;
    font-size: 1rem;
}

.auth_form form input:focus {
    border-color: white;
    box-shadow: 2px 2px 10px #00ff6a84;
}

.auth_form button:hover {
    background-color: #00a844;
    /* transform: translateY(-1px); */
    box-shadow: 0 2px 8px rgba(0, 200, 83, 0.3);
}

.auth_form .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease-in-out;
}

.auth_form .resubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease-in-out;
}

.auth_form .google-btn:hover,
.auth_form .resubmit:hover {
    background-color: rgb(180, 178, 178);
}

.error {
    min-height: 1.1rem;
    width: 100%;
    color: white;
    font-weight: 400;
    text-align: left;
    padding-left: 1%;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 2px;
    word-break: break-word;
    margin-top: 0.3rem;
    min-height: 1.1rem;
}

.pass-error {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* min-height: 1.1rem; */
}

.google-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.auth-text {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.forgot-password {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

.forgot-password a {
    color: white;
    font-size: 0.9rem;
    margin-bottom: -30px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    width: fit-content;
}

.forgot-password a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth-text a {
    color: #00C853;
    text-decoration: none;
    margin-left: 5px;
    transition: all 0.3s ease;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.auth-text a:hover {
    text-decoration: underline;
    color: #00a844;
}

.passwordinput {
    position: relative;
    width: 100%;
}

.passwordinput input {
    width: 100%;
    padding-right: 20px;
}

.passwordinput .password-toggle {
    position: absolute;
    right: 15px;
    top: 26%;
    cursor: pointer;
    width: auto;
    color: #00C853;
    background: none;
}

.passwordinput .password-toggle:hover {
    background: none;
    box-shadow: none;
    color: #00a844;
}

@media (max-width: 1200px) {
    .auth_main_div {
        grid-template-columns: 0fr 1fr 1.2fr;
    }
}

@media (max-width: 900px) {
    .auth_main_div {
        display: flex;
        flex-direction: column;
    }

    .left_inner_div {
        display: none;
    }

    .right_inner_div {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }

    .auth_form {
        padding: 1rem;

    }

    .backToHome {
        position: fixed;
        background-color: #00C853;
        color: black;
    }

    .backToHome:hover {
        box-shadow: 1px 1px 8px #00C853;
    }

}