@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* --- Styles for Preference Page --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.PreferenceLayout {
    height: 100%;
    width: 100%;
    background-color: #000;
}

.PreferenceBody {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
    margin-bottom: 30px;   
    margin-top: 80px;
}

.PreferenceContainer{
    width: 60%;
    height: 455px;
    margin-top: 2rem;
    /* margin-bottom: 30px;    */
    border: 4px solid #28282889;
    background-color: #0f0f0f;
    padding:2rem;
    color:#ffffff;
}

.PreferenceContainer h2 {
    font-weight:600;
    font-size:2rem;
    margin-bottom: 2.5rem;
    /* font-style: semi-bold; */
}

.form-group{
    display: flex;
    flex-direction: column;
    border-bottom: 0.95px solid #444444;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: visible;
    width: 100%;
}

.form-group:last-child {
    border-bottom: none;
}

.form-group label {
    display:block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:0.75rem;
}

.form-group .description {
    font-size: 0.75rem;
    color: #999999;
    font-weight: 400;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.select-wrapper {
  position: relative; 
  width: 100%;
}

.select-icon {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem;
  font-size: 1.5rem;   
  pointer-events: none; 
}

.form-group select {
    background-color: #0f0f0f;
    border: 1px solid #fff;
    height: 51px;
    width:100%;
    color: #ffffff;
    border : 1px solid #ffffff;    
    border-radius: 10px;
    padding: 0.75rem 1.25rem ;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.form-group select:hover,
.form-group select:focus {
  border-color: #00c853;
  box-shadow: 0 0 5px #00c853;
}

.form-group select option {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: none;
    font-size: 1rem;
    font-weight: 400;
}
