@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* --- Styles for Preference Page --- */

.PreferenceLayout {
  background-color: black;
  min-height: 100vh;
  width: 100%;
}

.PreferenceBody {
    display: flex;
    width: 100%;
    background-color: #000;
    margin-top: 80px;
}

.PreferenceContainer{
    width: 73%;
    min-height: 500px;
    margin-top: 1rem;
    border: 3px solid #1e1e1e;
    background-color: #0e0e0e;
    padding:3rem;
    box-sizing: border-box;    
}

.PreferenceContainer,
.PreferenceContainer *{
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

.PreferenceContainer h2 {
    font-weight:500;
    font-size:2rem;
    margin-bottom: 2.5rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #1e1e1e;
    margin-bottom: 2.5rem;
    position: relative;
    overflow: visible;
    width: 100%;
}

.form-group:last-child {
    border-bottom: none;
}

.form-group label {
    display:block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:0.75rem;
}

.form-group .description {
    font-size: 0.75rem;
    color: #999999;
    font-weight: 400;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.select-wrapper {
  position: relative; 
  width: 100%;
}

.select-icon {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  right: 1.25rem;
  font-size: 1.5rem;   
  pointer-events: none; 
}

.form-group select {
    background-color: #0f0f0f;
    border: 1px solid #fff;
    height: 51px;
    width:100%;   
    border-radius: 10px;
    padding: 0.75rem 1.25rem ;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.form-group select:hover,
.form-group select:focus {
  border-color: #00c853;
  box-shadow: 0 0 5px #00c853;
}

.form-group select option {
    
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: none;
    font-size: 1rem;
    font-weight: 400;
}

/* ------------------- Responsive for Preference Page ------------------- */

@media (max-width: 1280px) {

  .PreferenceContainer {
    padding: 2rem;
  }
  .PreferenceContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .select-icon {
    font-size: 1.3rem;   
  }
  .form-group{
    margin-bottom: 2rem;
  }
  .form-group .description {
    font-size: 0.9rem;
  }
  .form-group label {
    font-size: 0.9rem;
  }
  .form-group select {
    height: 47px;
    font-size: 0.9rem;
  }
  .form-group select option {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {

  .PreferenceContainer h2 {
    font-size: 1.3rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }  
  .form-group{
    border-bottom: 2px solid #1e1e1e;
  }
  .form-group .description {
    font-size: 0.8rem;
  }
  .form-group label {
    font-size: 0.85rem;
  }  
  .form-group select {
    height: 44px;
    font-size: 0.85rem;
  }
  .form-group select option {
    font-size: 0.85rem;
  }  
}


@media (max-width: 768px) {

  .PreferenceContainer {
    border: 2px solid #1e1e1e; 
  }
  .PreferenceContainer h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .select-icon {
    font-size: 1.1rem;   
  }  
  .form-group{
    margin-bottom: 1.5rem;
  }
  .form-group .description {
    font-size: 0.7rem;
    margin-bottom: 1.1rem;
  }
  .form-group label {
    font-size: 0.7rem;
  }
  .form-group select {
    height: 40px;
    font-size: 0.7rem;
  }
  .form-group select option {
    font-size: 0.7rem;
  }
}


@media (max-width: 600px) {

  .PreferenceContainer h2 {
    font-size: 1rem;
  }
  .form-group{
    margin-bottom: 1.3rem;
  }
  .form-group .description {
    font-size: 0.65rem;
  }
  .form-group label {
    font-size: 0.65rem;
  }
  .form-group select {
    height: 40px;
    font-size: 0.65rem;
  }
  .form-group select option {
    font-size: 0.7rem;
  }
  .select-icon {
    font-size: 1rem;   
  }    
} 

@media (max-width: 400px) {
 
  .PreferenceContainer {
    border: 1.5px solid #1e1e1e;
    padding: 1rem;
  }
  .PreferenceContainer h2 {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-top: 0;      
  }
  .form-group{
    margin-bottom: 1rem;
  }
  .form-group .description {
    font-size: 0.5rem;
  }
  .form-group label {
    font-size: 0.55rem;
  }
  .form-group select {
    height: 40px;
    font-size: 0.6rem;
  }
  .form-group select option {
    font-size: 0.6rem;
  }
  .select-icon {
    font-size: 1rem;   
  }   
} 
