
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}
*{
  caret-color: transparent; 
}
input,
textarea,
[contenteditable="true"] {
  caret-color: auto; 
}
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #00C853;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00a844;
}
