
body {
  background-color: #000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.market-movers-container {
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header-title {
  font-size: 1.5rem; 
  font-weight: 700;
}

.see-more-link {
  color: #4ade80; 
  text-decoration: none;
  font-size: 0.875rem; 
}

.see-more-link:hover {
  text-decoration: underline;
}

/* -Layout Grids - */
.main-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 32px;
  margin-top: 32px;
}


@media (min-width: 1024px) {
  .main-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


.content-card {
  background-color: #111827;
  padding: 24px;
  border-radius: 8px;
}

.content-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #4ade80; 
}


.gainer {
  color: #22c55e;
}

.loser {
  color: #ef4444;
}

/* -Stock List Item - */
.stock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #374151;
}

.stock-item:last-child {
  border-bottom: none;
}

.stock-name {
  font-weight: 600;
}

.stock-exchange {
  font-size: 0.875rem;
  color: #9ca3af;
}

.stock-stats {
  text-align: right;
}

.stock-price {
  font-weight: 600;
}

.stock-change {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
}

.stock-change span {
  margin-right: 4px;
}

/* -Top Business Groups -*/
.groups-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .groups-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.group-card {
  background-color: #1f2937;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.group-logo {
  height: 48px;
  width: 48px;
  margin-bottom: 8px;
  border-radius: 20%; 
}

.group-name {
  font-weight: 600;
}

.group-stock-count {
  font-size: 0.875rem;
  color: #9ca3af;
}

/* -Market News - */
.news-item {
  padding: 8px 0;
  margin-bottom: 8px;
}

.news-headline {
  font-weight: 400;
}

.news-time {
  font-size: 0.875rem;
  opacity: 0.8;;
  margin-top: 4px;
}